.boton-venta {
  display: flex; /* Usar flexbox para alinear elementos */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-weight: bold;

}
.boton-venta:hover {
  background-color: #45a049; /* Color al pasar el mouse */
}

.boton-venta:active {
  background-color: #3e8e41; /* Color al hacer clic */
}

.mr-2 {
  margin-right: 3px; /* Espacio entre el ícono y el texto */
}