.input-producto {
  width: 50%;
  padding: 5px;
  background-color: rgba(0, 0 ,0 ,0); /* Color de fondo */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde de 2px, sólido y negro */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}
