/* Estilos generales para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  margin-top: 30px;
}

/* Estilos para el cuerpo de la tabla */
tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

tbody:hover {
  opacity: 1; /* Hace que el <tbody> sea completamente opaco al pasar el ratón */
}

/* Estilos para las filas de la tabla */
tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 24px; /* Altura específica para las filas */
}

/* Ajustes de ancho de las celdas */
th, td {
  padding: 4px; /* Espaciado interno ajustado */
  text-align: left;
  border-bottom: 1px solid #d0d0d0; /* Bordes más suaves */
}

th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}



/* Selección de fila */
.selected-row {
  background-color: #70c0ff;
}


/* Estilo del input en el modal */
input[type="text"] {
  width: 80%; /* Ancho completo */
  padding: 3px; /* Espaciado interno */
}

input[type="number"] {
  width: 50%; /* Ancho ajustado */
  padding: 0px; /* Espaciado interno */
  border: none; /* Sin borde */
  outline: none; /* Elimina el contorno de enfoque */
}

/* Responsividad */
@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* Ancho del modal en pantallas pequeñas */
  }
}
/* modal.css */

.modal-cantidad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Efecto de desenfoque de fondo */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 90%; /* Ancho del modal responsivo */
  max-width: 400px; /* Ancho máximo */
}

.close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888; /* Color gris para el icono */
  transition: color 0.3s;
}

.close:hover {
  color: #333; /* Cambia el color al pasar el mouse */
}
