/* Estilos específicos para ListaProductos */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black; /* Borde de 2px, sólido y negro */
  font-size: 16px
}

th {
  text-align: left;
  padding: 8px;
  font-size: 12px;
}
td {
  padding: 3px;
  text-align: left;


}
