/* Estilos específicos para ListaProductos */
.suma-venta {
  font-size: 30px;
  color: #0066b3;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  padding: 30px;
  text-align: center;
  border: 2px solid black ;
}

